.flex_block1 input{
    width: 100%;
}
.flex_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

.flex_block{
    align-items: stretch;
    align-content: space-around;
    width: 40vw;

}

.flex_block1{
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 15px;
}